.titulo-contacto {
    margin-top: 40px;
    margin-bottom: 40px;
    color: black;
    font-family: 'Roboto Slab', serif;

    h1 {
        font-size: 45px;
        text-align: center;
    }
}

.contacto-body {
    background-image: url(../imagenes/fondo-contacto.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.formulario {
    width: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;

    h1 {
        color: rgb(0, 0, 0);
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
        font-family: 'Roboto Slab', serif;
    }
}

.formulario textarea,
input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
}


.formulario textarea {
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;
}