$ancho: 1366px;
$lavender: #eaccf7;
$black: #000000;

.ya-nos {
    background-color:$lavender;
    width: $ancho/2;
    font-size: 20px;
    color: $black;
    margin-top: 40px;
}

.titulo-contacto {
    margin-top: 40px;
    margin-bottom: 40px;
    color: $black;
    font-family: 'Roboto Slab', serif;

    h1 {
        font-size: 45px;
        text-align: center;
    }
}

.contacto-body {
    background-image: url(../imagenes/fondo-contacto.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.formulario {
    width: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;

    h1 {
        color: $black;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
        font-family: 'Roboto Slab', serif;
    }
}

.formulario textarea,
input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
}


.formulario textarea {
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;
}


.no-olvides {
    width: $ancho/2;
    background-color: $lavender;
    margin-top: 30px;
    justify-content: center;
    
    p {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: black;
    font-size: 20px;
    }
}

