* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*----------header----------*/
.index-body {
  overflow-x: hidden;
}

.fondo {
  background-image: url(../imagenes/fondo-contacto.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.titulo-principal {
  background-color: black;
  padding: 0px 0px 5px;
}

.titulo-principal h1 {
  padding: 10px 10px 0px;
  font-size: 35px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.titulo-principal h1 a {
  text-decoration: none;
  color: white;
}

.titulo-principal a:hover {
  color: #d4beff;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar-nav a {
  padding: 10px;
  color: #000;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

.navbar-nav a:hover {
  background: #fad2f4;
  color: white;
}

.busqueda {
  font-size: 20px;
  color: white;
  background-color: black;
  text-align: center;
  width: 100%;
  padding: 20px 10px 10px;
  margin-bottom: 30px;
}

.busqueda input {
  border: 1px solid #ffc6f6;
  border-radius: .25rem;
  color: black;
  background-color: white;
  padding: 0px 50px 2px;
}

.busqueda input:hover {
  background-color: #decdff;
  color: black;
}

/*-----------------principal index-----------*/
.titulos1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: radial-gradient(circle at 15.91% 9.37%, #ffd8e7 0, #ffcfe8 10%, #ffc6ea 20%, #ffbceb 30%, #ffb1ed 40%, #f6a7ef 50%, #e39ef2 60%, #ce97f5 70%, #b593f9 80%, #9890fd 90%, #768fff 100%);
  color: black;
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  width: 100%;
  text-align: center;
}

.titulos1 img {
  width: 80px;
}

.recomendaciones {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  background-color: #ffc6f6;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
}

.recomendaciones p {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recomendaciones:hover {
  color: white;
}

.bem__ejemplo {
  color: black;
  background-color: #ffc6f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}

.bem__ejemplo p {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index-imagenes img {
  width: 550px;
}

.estilos-imagenes {
  padding: 30px;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.estilos-imagenes img {
  max-width: 70%;
  min-width: 100%;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.visita-nuestra {
  color: black;
  background: #ffcfe8;
  margin-top: 30px;
}

.visita-nuestra p {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ver-mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.ver-mas a {
  text-decoration: none;
  text-align: center;
  color: #e665d2;
  background-color: white;
  border-color: #e665d2;
  width: 100px;
  height: 35px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.ver-mas a:hover {
  background-color: #b593f9;
  color: white;
}

/*--------------section----------------*/
.section-index {
  background-color: #000;
  font-family: 'Roboto Slab', serif;
  color: #000000;
  text-align: center;
  margin-top: 10px;
}

.section-suscripcion {
  width: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.suscribete {
  margin-top: 20px;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
}

.descripcion {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
  color: white;
}

.descripcion-input {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.descripcion-input input {
  width: 500px;
  height: 40px;
  border: none;
}

/*--------------footer----------------*/
.footer {
  color: black;
  background: radial-gradient(circle at 15.91% 9.37%, #ffd8e7 0, #ffcfe8 10%, #ffc6ea 20%, #ffbceb 30%, #ffb1ed 40%, #f6a7ef 50%, #e39ef2 60%, #ce97f5 70%, #b593f9 80%, #9890fd 90%, #768fff 100%);
  margin-top: 40px;
}

.links {
  font-size: 20px;
}

.links ul {
  list-style-type: none;
}

.links ul a {
  text-decoration: none;
}

.footer-index p {
  color: black;
  font-size: 20px;
}

.footer-index i {
  color: black;
  margin-left: 5px;
}

.direccion p {
  font-size: 20px;
}

.body-envios {
  background-image: url(../imagenes/fondo-contacto.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.titulo-envio {
  font-size: 35px;
  color: black;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.envios-body {
  padding: 30px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.envios-body img {
  min-width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .envios-body {
    padding: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .envios-body img {
    min-width: 100%;
    max-width: 100%;
  }
}

.envios-body a {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
  color: black;
  font-family: 'Roboto Slab', serif;
  border-color: #b14aff;
  background-color: white;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar-nav a {
  padding: 10px;
  color: #000;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

.navbar-nav a:hover {
  background: #ffc6f6;
  color: white;
}

.footer {
  background: #ffc6f6;
  color: black;
}

.links {
  font-size: 20px;
}

.links ul {
  list-style-type: none;
}

.links ul a {
  text-decoration: none;
}

.footer-index p {
  color: black;
  font-size: 20px;
}

.footer-index i {
  color: black;
  margin-left: 5px;
}

.direccion p {
  font-size: 20px;
}

.tienda {
  overflow-x: hidden;
}

.tienda-body {
  background-image: url(../imagenes/fondo-contacto.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.titulo-tienda {
  padding: 30px 30px 30px;
  font-size: 45px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.titulo-tienda a {
  text-decoration: none;
  color: black;
}

.titulo-tienda a:hover {
  color: #c4a7ff;
}

.tienda-sub {
  background-color: #f8f9fa;
  font-size: 20px;
  font-weight: bold;
}

.tienda-sub h2:hover {
  background-color: #dddddd;
  color: black;
}

.busqueda-tienda {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tienda-cards div {
  padding: 20px;
}

.tienda-cards h5 {
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.tienda-cards p {
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.titulo-contacto {
  margin-top: 40px;
  margin-bottom: 40px;
  color: black;
  font-family: 'Roboto Slab', serif;
}

.titulo-contacto h1 {
  font-size: 45px;
  text-align: center;
}

.contacto-body {
  background-image: url(../imagenes/fondo-contacto.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  overflow-x: hidden;
}

.formulario {
  width: 450px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
}

.formulario h1 {
  color: black;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Roboto Slab', serif;
}

.formulario textarea,
input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

.formulario textarea {
  min-height: 100px;
  max-height: 100px;
  max-width: 100%;
}

.color-fondo {
  background-image: url(../imagenes/fondo-contacto.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.sobre-nosotras {
  font-size: 80px;
  color: black;
  font-family: 'Ephesis', cursive;
  text-align: center;
  padding: 30px;
}

.sobre-nosotras:hover {
  color: mediumpurple;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.nosotras {
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.nosotras p {
  font-size: 30px;
  color: black;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.nosotras p a {
  text-decoration: none;
  color: mediumpurple;
}

.nosotras a:hover {
  background-color: mediumpurple;
  color: white;
}

.nosotras img {
  max-width: 70%;
  min-width: 70%;
}

* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=estilo.css.map */